body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: auto;
}
body {
  margin: 0;
  height: 100vh;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='800' height='400' viewBox='0 0 800 400'><polygon points='1032.4555320336758,199.99999999999994 400.00000000000006,832.4555320336758 320.9430584957906,753.3985905294664 953.3985905294663,120.94305849579047' fill='rgb(32, 27, 0)' /><polygon points='953.3985905294664,120.94305849579047 320.9430584957906,753.3985905294664 241.8861169915811,674.3416490252569 874.3416490252569,41.88611699158099' fill='rgb(34, 29, 7)' /><polygon points='874.341649025257,41.88611699158099 241.8861169915811,674.3416490252569 162.82917548737163,595.2847075210475 795.2847075210474,-37.170824512628485' fill='rgb(34, 31, 43)' /><polygon points='795.2847075210475,-37.170824512628485 162.82917548737157,595.2847075210475 83.77223398316208,516.2277660168379 716.2277660168379,-116.22776601683796' fill='rgb(30, 33, 83)' /><polygon points='716.2277660168379,-116.22776601683796 83.77223398316211,516.2277660168379 4.715292478952605,437.1708245126285 637.1708245126283,-195.28470752104744' fill='rgb(24, 35, 121)' /><polygon points='637.1708245126284,-195.28470752104744 4.715292478952577,437.1708245126285 -74.34164902525693,358.113883008419 558.1138830084188,-274.3416490252569' fill='rgb(16, 38, 155)' /><polygon points='558.113883008419,-274.3416490252569 -74.3416490252569,358.113883008419 -153.3985905294664,279.05694150420953 479.0569415042094,-353.3985905294664' fill='rgb(8, 40, 178)' /><polygon points='479.0569415042094,-353.3985905294664 -153.3985905294664,279.05694150420953 -232.45553203367587,200.00000000000006 399.99999999999994,-432.45553203367587' fill='rgb(0, 43, 187)' /></svg>") no-repeat center center;
  background-size: cover;
}


.main {
  background-color: transparent;
  color: white;
  backdrop-filter: blur(2px);
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.profile-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.main-menu_icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  cursor: pointer;
  z-index: 10;
}

.main-menu_icon span {
  display: block;
  height: 0.2rem;
  background: white;
  border-radius: 1rem;
  transition: 0.4s;
}

.main-menu_icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.main-menu_icon.open span:nth-child(2) {
  opacity: 0;
}
.main-menu_icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
  z-index: 2;
  border-bottom-left-radius: 2dvh;
  border-bottom-right-radius: 2dvh;
}
.navbar-menu.open {
  max-height: 50vh;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.menu-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.3rem 0;
}
.menu-links a:hover {
  color: #ffcc00ab;
}
.third-child {
  color: #ffcc00 !important;
}
.second-child, .third-child, .fourth-child, .fifth-child {
  margin-top: 1.8vh !important;
}
.menu-links hr {
  width: 80%;
  border: none;
  border-top: 1px solid #ffffff4d;
  margin: 0.5rem auto;
}
.menu-links .copyright {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #ccc;
  text-align: center;
}
.copyright span {
  color: #007BFF !important;
}

/* PADDING OD GÓRY POD NAVBAR */
main {
  padding-top: 80px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
  background: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.image-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 4/3;
  border-radius: 12px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.5),
    0 8px 15px rgba(0, 0, 0, 0.3);
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  animation: fadeInOverlay 1.7s ease forwards;
  animation-delay: 0.7s;
}
@keyframes fadeInOverlay {
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.title {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90%;
  max-width: 90%;
  height: fit-content;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeInText 0.8s ease forwards;
  animation-delay: 2.5s;
}
@keyframes fadeInText {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.8rem;
  }

  .profile-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .main-menu_icon {
    width: 1.6rem;
    height: 1.6rem;
    gap: 0.3rem;
  }

  .main-menu_icon span {
    height: 0.15rem;
  }

  .menu-links a {
    font-size: 1rem;
  }

  .menu-links .copyright,
  .copyright span {
    font-size: 0.7rem;
  }

  .title {
    font-size: 2rem;
  }

  main {
    padding-top: 70px;
  }

  .container {
    padding-top: 0.5rem;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image-box {
    width: 45%;
  }

  .title {
    font-size: 4rem;
  }
}

/* Styl tylko dla tabletów (pion i poziom) */
@media (min-width: 600px) and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }
}
@media (min-width: 830px) and (max-width: 900px) {
  .title {
    font-size: 2rem;
  }
}
